<div class="wrapper">
  <nav class="container navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="https://www.bcts.ch/" target="_blank">
      <img class="logo" src="/assets/images/logo-bcts.png" alt="BCTS Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler"
            aria-controls="toggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="toggler">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link">Datei valid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Datei hochladen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">{{this.getUsername()}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
